<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="Flight_time">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="battery capacity" id="battery_capacity">
          <input placeholder="weight" id="weight">
          <input placeholder="current" id="current">
          <button>Find flight time</button>  
        </form>
        <p id="Solution_of_flight_time"></p>
        </div>

        <div class="min_flight_time">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="battery capacity" id="battery_capacity_1">
          <input placeholder="maximum current" id="max_current">
          <input placeholder="number of motors" id="no_of_motors">
          <button>Find Minimum flight time</button>  
        </form>
        <p id="Solution_of_min_flight_time"></p>
        </div>

        <div class="max_forword_time">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="total weight" id="weight_1">
          <input placeholder="Distance between the motors" id="m_m_dis">
          <input placeholder="radius of the propeller" id="radius">
          <input placeholder="thrust to weight ratio" id="thrust">
          <input placeholder="number of rotors" id="no_routers">
          <button>Find Maximum forword velocity</button>  
        </form>
        <p id="Solution_of_min_flight_tile"></p>
        </div>

        <div class="range">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="Maximum forword flight speed" id="speed">
          <input placeholder="Flight time" id="time">
          <button>Find range</button>  
        </form>
        <p id="Solution_of_range"></p>
        </div>

        <div class="thrust">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="Motor Kv rating" id="kv">
          <input placeholder="Battery Voltage" id="vol">
          <input placeholder="Diameter per propeller" id="diameter">
          <input placeholder="Pitch of the propeller" id="pitch">
          <input placeholder="Farword Velocity" id="vo">
          <button>Find Thrust</button>  
        </form>
        <p id="Solution_of_thrust"></p>
        </div>

        <div class="rpm_motor">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="Motor Kv rating" id="kv_1">
          <input placeholder="Battery Voltage" id="vol_1">
          <button>Find RPM</button>  
        </form>
        <p id="Solution_of_RPM"></p>
        </div>

        <div class="c_rating">

        <p>Enter the values</p>
        <form action="">
          <input placeholder="Motor stall current" id="current_1">
          <input placeholder="Battery capacity" id="capacity">
          <button>Find C rating</button>  
        </form>
        <p id="Solution_of_c_rating"></p>
        </div>

        <script src="/js/app.js"></script>
    </body>
</html>
